version: '3.8'

services:
  surge:
    image: ghcr.io/driftywinds/surge # OR surge:latest if building
#    build:
#      context: .
#      dockerfile: Dockerfile
    container_name: surge-server
    ports:
      - "1700:1700"
    volumes:
      - ./downloads:/downloads
      - ./surge-config:/root/.surge
    restart: unless-stopped
    environment:
      - TZ=UTC
